/**
 * SPDX-FileCopyrightText: 2020 Adolfo De Unánue
 *
 * SPDX-License-Identifier: LicenseRef-MIT-JL
 *
 * Tema para presentaciones del ITAM con título largo, fuente más pequeña
 *
 *  * Basado en el CSS dbis-longtitle.css de Jens Lechtenbörger 
 */

@import url(itam.css);

.reveal h1 {
    font-size: 1.8em; }

.reveal .course-title {
    margin: 40px 0px 10px 0px; }

.reveal .course-context p {
    line-height: 1.0;
    margin: 30px 0; }

.reveal .course-group p {
    font-size: 0.5em; }
